{% load static %}

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Website</title>
    <!-- <link rel="stylesheet" href="styles.css"> -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'styles/styles.css' %}">
    <title>projectG App</title>
</head>
<body>
    <div class="container">
        {% block title %}
        {% endblock %}
        {% block content %}
        {% endblock %}

        <footer>
            &copy; 2024 ProjectG. All rights reserved.
        </footer>
    
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
    <script src="{% static 'js/switchControl.js' %}"></script>
    <script>
        // console.log('start script');
        // document.addEventListener('DOMContentLoaded', function() {
        //     const switches = document.querySelectorAll('.custom-control-input');
        
        //     switches.forEach(switchElement => {
        //         switchElement.addEventListener('change', function() {
        //             const targetId = this.getAttribute('data-target');
        //             const targetElement = document.getElementById(targetId);
        //             const isChecked = this.checked;
        //             const gpioNo = this.getAttribute('data-gpio');

        //             // 非同期リクエストを送信
        //             fetch('/update-switch-state/', {
        //                 method: 'POST',
        //                 headers: {
        //                     'Content-Type': 'application/json',
        //                     'X-CSRFToken': '{{ csrf_token }}' // DjangoのCSRFトークン
        //                 },
        //                 body: JSON.stringify({
        //                     switchId: this.id,
        //                     state: isChecked,
        //                     gpioNo: gpioNo
        //                 })
        //             })
        //             .then(response => response.json())
        //             .then(data => {
        //                 // サーバーからのレスポンスに基づいて表示文言を変更
        //                 if (data.success) {
        //                     targetElement.textContent = `${targetElement.getAttribute('data-label')}の状態: ${isChecked ? 'ライトオン' : 'ライトオフ'}`;
        //                 } else {
        //                     alert('スイッチの状態を更新できませんでした。');
        //                 }
        //             })
        //             .catch(error => {
        //                 console.error('エラー:', error);
        //                 alert('スイッチの状態を更新できませんでした。');
        //             });
        //         });
        //     });
        // });
        </script>

        <script>
            $(document).ready(function() {
                $('#led-all-blink-form').submit(function(event) {
                    event.preventDefault(); // フォームのデフォルト送信を防ぐ

                    // 非同期リクエストを送信
                    fetch('/LedAllLightOnAjax/', {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json',
                            'X-CSRFToken': '{{ csrf_token }}' // DjangoのCSRFトークン
                        },
                        body: {}
                    })
                    .then(response => response.json())
                    .then(data => {})
                    
                });

                // $('#led-all-blink-form').submit(function(event) {
                //     event.preventDefault(); // フォームのデフォルト送信を防ぐ
                //     var form = $(this);
                //     $.ajax({
                //         type: form.attr('method'),
                //         url: form.attr('action'),
                //         data: form.serialize(),
                //         success: function(response) {
                //             alert(response.message);
                //         },
                //         error: function(response) {
                //             alert('エラーが発生しました');
                //         }
                //     });
                // });
            });
        </script>
</body>
</html>